In [1]:
import pandas as pd

In [2]:
classifier_post_pred = pd.read_csv('/Users/alexis/Cranfield/AI/assignment/data/test/classifier_post_pred.csv')
classifier_post_pred

       target                          image_id
0           1  f7f7736401b22c94a9d2b09425adeab9
1           1  93ae57ca1df1d19c6d64155e74e14d23
2           0  f1a45afaee0efd07fef17057f3942464
3           0  559fdfb3b9db3eb206b9521824f716e3
4           1  371d6f540ac601affe81e547b05c551a
...       ...                               ...
14995       1  0c5ff01c7bfb4362fcd98f36e555b08c
14996       1  3286115baacb6ed3affc5c46c9205b7a
14997       1  d44766bf0eb902fbc1848f418417c45f
14998       1  cd7b83d24ee9c092a0f32cb020da6dac
14999       1  3b219f94795c80a122ac4948b4f1c2a6

[15000 rows x 2 columns]

In [3]:
test_df = pd.read_csv('/Users/alexis/Cranfield/AI/assignment/data/test/test.csv')
test_df.head()

,image_id,class_name,rad_id,x_min,y_min,x_max,y_max,class_id
0,27b822c5d3b354f096dfb788fd3fa636,Nodule/Mass,R10,277.0,602.0,1177.0,2417.0,8
1,d2ca714f8f06979acfbc0992d65fb211,No finding,R3,NaN,NaN,NaN,NaN,14
2,19367e88f4634c2652d3eed0a2f1f8b2,No finding,R15,NaN,NaN,NaN,NaN,14
3,852ec6a0bcb9608ffee9b3fda0867f91,Aortic enlargement,R8,1669.0,896.0,1972.0,1326.0,0
4,aa9c3097e6d2df7216be1a1642f683c9,No finding,R5,NaN,NaN,NaN,NaN,14

In [4]:
test_pred = pd.read_csv('/Users/alexis/Cranfield/AI/assignment/data/test/test_predictions.csv')
test_pred.head()

,image_id,PredictionString
0,27b822c5d3b354f096dfb788fd3fa636,8 0.9025 126.33087921142578 444.5048828125 146...
1,d2ca714f8f06979acfbc0992d65fb211,14 1.0 0 0 1 1
2,19367e88f4634c2652d3eed0a2f1f8b2,14 1.0 0 0 1 1
3,852ec6a0bcb9608ffee9b3fda0867f91,0 0.9799 379.3897705078125 263.41644287109375 ...
4,aa9c3097e6d2df7216be1a1642f683c9,14 1.0 0 0 1 1

In [5]:
metadata_df = pd.read_csv('/Users/alexis/Cranfield/AI/assignment/data/test/dicom_metadata.csv')
metadata_df.head()

,File Name,Transfer Syntax UID,SOP Class UID,SOP Instance UID,Version,Photometric Interpretation,Pixel Representation,High Bit,Samples per Pixel,Bits Allocated,...,Lossy Image Compression,Lossy Image Compression Ratio,Patient's Sex,Patient's Age,Rows,Columns,Pixel Spacing,Bits Stored,Window Center,Window Width
0,f7f7736401b22c94a9d2b09425adeab9.dicom,1.2.840.10008.1.2.4.90,1.2.840.10008.5.1.4.1.1.1.1,f7f7736401b22c94a9d2b09425adeab9,INF_3.9,MONOCHROME2,0,11,1,16,...,0.0,NaN,F,037Y,3028,2517,"[0.139, 0.139]",12,2048.0,4096.0
1,93ae57ca1df1d19c6d64155e74e14d23.dicom,1.2.840.10008.1.2,1.2.840.10008.5.1.4.1.1.1.1,93ae57ca1df1d19c6d64155e74e14d23,NaN,MONOCHROME2,0,13,1,16,...,NaN,NaN,O,Y,3072,3072,"[0.139000, 0.139000]",14,10287.0,5292.0
2,f1a45afaee0efd07fef17057f3942464.dicom,1.2.840.10008.1.2.4.90,1.2.840.10008.5.1.4.1.1.1,f1a45afaee0efd07fef17057f3942464,OFFIS_DCMTK_360,MONOCHROME1,0,11,1,16,...,0.0,NaN,M,NaN,2880,2304,"[0.15, 0.15]",12,2047.0,4095.0
3,559fdfb3b9db3eb206b9521824f716e3.dicom,1.2.840.10008.1.2,1.2.840.10008.5.1.4.1.1.1,559fdfb3b9db3eb206b9521824f716e3,OFFIS_DCMTK_360,MONOCHROME2,0,13,1,16,...,NaN,NaN,M,038Y,3072,2540,"[0.140, 0.140]",14,10075.0,10242.0
4,371d6f540ac601affe81e547b05c551a.dicom,1.2.840.10008.1.2,1.2.840.10008.5.1.4.1.1.1,371d6f540ac601affe81e547b05c551a,OFFIS_DCMTK_360,MONOCHROME2,0,13,1,16,...,NaN,NaN,M,060Y,3072,3072,"[0.140, 0.140]",14,8755.0,10228.0

In [6]:
image_sizes_df = metadata_df[['File Name', 'Rows', 'Columns']]
image_sizes_df.head()

                                File Name  Rows  Columns
0  f7f7736401b22c94a9d2b09425adeab9.dicom  3028     2517
1  93ae57ca1df1d19c6d64155e74e14d23.dicom  3072     3072
2  f1a45afaee0efd07fef17057f3942464.dicom  2880     2304
3  559fdfb3b9db3eb206b9521824f716e3.dicom  3072     2540
4  371d6f540ac601affe81e547b05c551a.dicom  3072     3072

In [7]:
# """ import logging
# import h5py

# logging.basicConfig(
#     level=logging.INFO, format="%(asctime)s - %(levelname)s - %(message)s"
# )

# def get_pixel_array_from_hdf5(hdf5_path, filename):
#     """
#     Retrieves the pixel array for a given filename from an HDF5 file.

#     Parameters:
#     - hdf5_path: Path to the HDF5 file.
#     - filename: The original file name of the DICOM image.

#     Returns:
#     - A numpy array of the pixel data if found; None otherwise.
#     """
#     with h5py.File(hdf5_path, "r") as hdf5_file:
#         # Attempt to access the dataset directly by filename.
#         # Adjust this part if a more complex naming convention is used.
#         unique_filename = None
#         for key in hdf5_file.keys():
#             if filename in key:
#                 unique_filename = key
#                 break
                
#         if unique_filename is not None:
#             pixel_array = hdf5_file[unique_filename][:]
#             return pixel_array
#         else:
#             logging.error(f"File {filename} not found in HDF5.")
#             return None """

In [8]:
# import matplotlib.pyplot as plt

# filename = "f7f7736401b22c94a9d2b09425adeab9"  # This should be the base name of the file you're looking for.
# pixel_array = get_pixel_array_from_hdf5("/Volumes/ALEXIS/ai_project_cranfield/dicom_images_final.hdf5", filename+".dicom")
# plt.imshow(pixel_array, cmap="gray")

# # print the size of the image
# original_size = pixel_array.shape[:2]  # (hauteur, largeur)
# print(original_size)

In [9]:
test_prediction_reformatted = pd.read_csv("/Users/alexis/Cranfield/AI/assignment/data/test/test_predictions_reformatted.csv")
test_prediction_reformatted

,image_id,class_id,score,x_min,y_min,x_max,y_max
0,27b822c5d3b354f096dfb788fd3fa636,8,0.9025,126.330879,444.504883,146.634857,465.767639
1,27b822c5d3b354f096dfb788fd3fa636,8,0.8972,624.478821,517.039246,648.789368,541.510315
2,27b822c5d3b354f096dfb788fd3fa636,0,0.8267,395.955627,253.043365,498.742554,370.395782
3,27b822c5d3b354f096dfb788fd3fa636,11,0.7635,79.230217,631.803955,115.134575,678.047119
4,27b822c5d3b354f096dfb788fd3fa636,8,0.7218,124.820206,580.891052,149.161972,608.366394
...,...,...,...,...,...,...,...
50784,eb6c714df22142229464c6b83e47d7d6,7,0.1332,88.431931,360.150146,249.270676,657.024170
50785,eb6c714df22142229464c6b83e47d7d6,8,0.1291,587.680969,261.416504,622.254578,295.633301
50786,eb6c714df22142229464c6b83e47d7d6,13,0.1236,151.587982,412.933960,313.308380,598.072754
50787,eb6c714df22142229464c6b83e47d7d6,8,0.1098,151.649857,346.123566,265.484253,418.405914
50788,fcb84a0cb71696938093ddb14dba07e3,14,1.0000,0.000000,0.000000,1.000000,1.000000

In [10]:
test_df['x_min'] = test_df['x_min'].fillna(0)
test_df['y_min'] = test_df['y_min'].fillna(0)
test_df['x_max'] = test_df['x_max'].fillna(1)
test_df['y_max'] = test_df['y_max'].fillna(1)

In [11]:
test_df

,image_id,class_name,rad_id,x_min,y_min,x_max,y_max,class_id
0,27b822c5d3b354f096dfb788fd3fa636,Nodule/Mass,R10,277.0,602.0,1177.0,2417.0,8
1,d2ca714f8f06979acfbc0992d65fb211,No finding,R3,0.0,0.0,1.0,1.0,14
2,19367e88f4634c2652d3eed0a2f1f8b2,No finding,R15,0.0,0.0,1.0,1.0,14
3,852ec6a0bcb9608ffee9b3fda0867f91,Aortic enlargement,R8,1669.0,896.0,1972.0,1326.0,0
4,aa9c3097e6d2df7216be1a1642f683c9,No finding,R5,0.0,0.0,1.0,1.0,14
...,...,...,...,...,...,...,...,...
10183,54e6184c63c75a9695d7effc17969ad0,Cardiomegaly,R8,731.0,1431.0,1697.0,1842.0,3
10184,7237fe007c5cab239011e89137eee3a7,Other lesion,R17,667.0,752.0,1282.0,1777.0,9
10185,3b2087f26637d64244ec11da41770aad,Aortic enlargement,R9,1604.0,705.0,1850.0,931.0,0
10186,eb6c714df22142229464c6b83e47d7d6,Lung Opacity,R10,494.0,1293.0,866.0,1632.0,7
10187,fcb84a0cb71696938093ddb14dba07e3,No finding,R10,0.0,0.0,1.0,1.0,14

In [12]:
image_sizes_df = image_sizes_df.rename(columns={"File Name": "image_id"})
# Drop .dicom from the image_id
image_sizes_df["image_id"] = image_sizes_df["image_id"].str.replace(".dicom", "")
image_sizes_df

                               image_id  Rows  Columns
0      f7f7736401b22c94a9d2b09425adeab9  3028     2517
1      93ae57ca1df1d19c6d64155e74e14d23  3072     3072
2      f1a45afaee0efd07fef17057f3942464  2880     2304
3      559fdfb3b9db3eb206b9521824f716e3  3072     2540
4      371d6f540ac601affe81e547b05c551a  3072     3072
...                                 ...   ...      ...
14995  0c5ff01c7bfb4362fcd98f36e555b08c  2880     2304
14996  3286115baacb6ed3affc5c46c9205b7a  2880     2304
14997  d44766bf0eb902fbc1848f418417c45f  2208     2104
14998  cd7b83d24ee9c092a0f32cb020da6dac  2926     2847
14999  3b219f94795c80a122ac4948b4f1c2a6  3242     2992

[15000 rows x 3 columns]

In [13]:
test_prediction_reformatted = test_prediction_reformatted.merge(image_sizes_df, on="image_id", how="left")
test_prediction_reformatted

,image_id,class_id,score,x_min,y_min,x_max,y_max,Rows,Columns
0,27b822c5d3b354f096dfb788fd3fa636,8,0.9025,126.330879,444.504883,146.634857,465.767639,2968,2580
1,27b822c5d3b354f096dfb788fd3fa636,8,0.8972,624.478821,517.039246,648.789368,541.510315,2968,2580
2,27b822c5d3b354f096dfb788fd3fa636,0,0.8267,395.955627,253.043365,498.742554,370.395782,2968,2580
3,27b822c5d3b354f096dfb788fd3fa636,11,0.7635,79.230217,631.803955,115.134575,678.047119,2968,2580
4,27b822c5d3b354f096dfb788fd3fa636,8,0.7218,124.820206,580.891052,149.161972,608.366394,2968,2580
...,...,...,...,...,...,...,...,...,...
50784,eb6c714df22142229464c6b83e47d7d6,7,0.1332,88.431931,360.150146,249.270676,657.024170,3073,2532
50785,eb6c714df22142229464c6b83e47d7d6,8,0.1291,587.680969,261.416504,622.254578,295.633301,3073,2532
50786,eb6c714df22142229464c6b83e47d7d6,13,0.1236,151.587982,412.933960,313.308380,598.072754,3073,2532
50787,eb6c714df22142229464c6b83e47d7d6,8,0.1098,151.649857,346.123566,265.484253,418.405914,3073,2532
50788,fcb84a0cb71696938093ddb14dba07e3,14,1.0000,0.000000,0.000000,1.000000,1.000000,2500,2048

In [14]:
test_prediction_reformatted = test_prediction_reformatted.rename(columns={"Rows": "image_height", "Columns": "image_width"})

In [15]:

def resize_image(img_arr, bboxes, h, w):
    """
    :param img_arr: original image as a numpy array
    :param bboxes: bboxes as numpy array where each row is 'x_min', 'y_min', 'x_max', 'y_max', "class_id"
    :param h: resized height dimension of image
    :param w: resized weight dimension of image
    :return: dictionary containing {image:transformed, bboxes:['x_min', 'y_min', 'x_max', 'y_max', "class_id"]}
    """
    # create resize transform pipeline
    transform = albumentations.Compose(
        [albumentations.Resize(height=h, width=w, always_apply=True)],
        bbox_params=albumentations.BboxParams(format='pascal_voc'))

    transformed = transform(image=img_arr, bboxes=bboxes)

    return transformed

In [16]:
def resizeBox(x, x_target, x_original):
    scale = x_original / x_target
    return x * scale

target_size = (800, 800)

# Resize the bounding boxes (only when class_id is not 14
test_prediction_reformatted["x_min"] = test_prediction_reformatted.apply(lambda x: resizeBox(x.x_min, target_size[0], x.image_width) if x.class_id != 14 else x.x_min, axis=1)
test_prediction_reformatted["x_max"] = test_prediction_reformatted.apply(lambda x: resizeBox(x.x_max, target_size[0], x.image_width) if x.class_id != 14 else x.x_max, axis=1)
test_prediction_reformatted["y_min"] = test_prediction_reformatted.apply(lambda x: resizeBox(x.y_min, target_size[1], x.image_height) if x.class_id != 14 else x.y_min, axis=1)
test_prediction_reformatted["y_max"] = test_prediction_reformatted.apply(lambda x: resizeBox(x.y_max, target_size[1], x.image_height) if x.class_id != 14 else x.y_max, axis=1)

In [17]:
test_prediction_reformatted

,image_id,class_id,score,x_min,y_min,x_max,y_max,image_height,image_width
0,27b822c5d3b354f096dfb788fd3fa636,8,0.9025,407.417085,1649.113115,472.897414,1727.997941,2968,2580
1,27b822c5d3b354f096dfb788fd3fa636,8,0.8972,2013.944197,1918.215601,2092.345711,2009.003268,2968,2580
2,27b822c5d3b354f096dfb788fd3fa636,0,0.8267,1276.956898,938.790886,1608.444736,1374.168353,2968,2580
3,27b822c5d3b354f096dfb788fd3fa636,11,0.7635,255.517450,2343.992673,371.309004,2515.554812,2968,2580
4,27b822c5d3b354f096dfb788fd3fa636,8,0.7218,402.545163,2155.105804,481.047360,2257.039322,2968,2580
...,...,...,...,...,...,...,...,...,...
50784,eb6c714df22142229464c6b83e47d7d6,7,0.1332,279.887060,1383.426750,788.941688,2523.794093,3073,2532
50785,eb6c714df22142229464c6b83e47d7d6,8,0.1291,1860.010268,1004.166146,1969.435738,1135.601417,3073,2532
50786,eb6c714df22142229464c6b83e47d7d6,13,0.1236,479.775964,1586.182574,991.621023,2297.346966,3073,2532
50787,eb6c714df22142229464c6b83e47d7d6,8,0.1098,479.971796,1329.547147,840.257661,1607.201718,3073,2532
50788,fcb84a0cb71696938093ddb14dba07e3,14,1.0000,0.000000,0.000000,1.000000,1.000000,2500,2048

In [18]:
test_df

,image_id,class_name,rad_id,x_min,y_min,x_max,y_max,class_id
0,27b822c5d3b354f096dfb788fd3fa636,Nodule/Mass,R10,277.0,602.0,1177.0,2417.0,8
1,d2ca714f8f06979acfbc0992d65fb211,No finding,R3,0.0,0.0,1.0,1.0,14
2,19367e88f4634c2652d3eed0a2f1f8b2,No finding,R15,0.0,0.0,1.0,1.0,14
3,852ec6a0bcb9608ffee9b3fda0867f91,Aortic enlargement,R8,1669.0,896.0,1972.0,1326.0,0
4,aa9c3097e6d2df7216be1a1642f683c9,No finding,R5,0.0,0.0,1.0,1.0,14
...,...,...,...,...,...,...,...,...
10183,54e6184c63c75a9695d7effc17969ad0,Cardiomegaly,R8,731.0,1431.0,1697.0,1842.0,3
10184,7237fe007c5cab239011e89137eee3a7,Other lesion,R17,667.0,752.0,1282.0,1777.0,9
10185,3b2087f26637d64244ec11da41770aad,Aortic enlargement,R9,1604.0,705.0,1850.0,931.0,0
10186,eb6c714df22142229464c6b83e47d7d6,Lung Opacity,R10,494.0,1293.0,866.0,1632.0,7
10187,fcb84a0cb71696938093ddb14dba07e3,No finding,R10,0.0,0.0,1.0,1.0,14

In [19]:
image_id_suspect = classifier_post_pred[classifier_post_pred['target'] == 1]['image_id']
image_id_suspect

0        f7f7736401b22c94a9d2b09425adeab9
1        93ae57ca1df1d19c6d64155e74e14d23
4        371d6f540ac601affe81e547b05c551a
10       0890c2d68d17561848b25c61fb1da200
12       f26d7ce59f580ab775886542802b6d21
                       ...
14995    0c5ff01c7bfb4362fcd98f36e555b08c
14996    3286115baacb6ed3affc5c46c9205b7a
14997    d44766bf0eb902fbc1848f418417c45f
14998    cd7b83d24ee9c092a0f32cb020da6dac
14999    3b219f94795c80a122ac4948b4f1c2a6
Name: image_id, Length: 11147, dtype: object

In [20]:
image_id_suspect = classifier_post_pred[classifier_post_pred['target'] == 1]['image_id'].unique()
image_id_suspect

array(['f7f7736401b22c94a9d2b09425adeab9',
       '93ae57ca1df1d19c6d64155e74e14d23',
       '371d6f540ac601affe81e547b05c551a', ...,
       'd44766bf0eb902fbc1848f418417c45f',
       'cd7b83d24ee9c092a0f32cb020da6dac',
       '3b219f94795c80a122ac4948b4f1c2a6'], dtype=object)

In [21]:
""" 
test_prediction_reformatted_grouped = (
    test_prediction_reformatted.groupby("image_id")
    .agg(
        {
            "x_min": list,
            "y_min": list,
            "x_max": list,
            "y_max": list,
            "class_id": list,
            "score": list,
        }
    )
    .reset_index()
)

modified_predictions = []

for _, row in test_prediction_reformatted_grouped.iterrows():
    image_id = row["image_id"]
    x_mins, y_mins, x_maxs, y_maxs, class_ids, scores = (
        row["x_min"],
        row["y_min"],
        row["x_max"],
        row["y_max"],
        row["class_id"],
        row["score"],
    )

    best_predictions = {}
    for x_min, y_min, x_max, y_max, class_id, score in zip(
        x_mins, y_mins, x_maxs, y_maxs, class_ids, scores
    ):
        # Garder uniquement le meilleur score pour chaque class_id
        if class_id not in best_predictions or score > best_predictions[class_id][5]:
            best_predictions[class_id] = (x_min, y_min, x_max, y_max, class_id, score)

        # Flatten the dictionary back to the list format expected
        for class_id, best_prediction in best_predictions.items():
            modified_predictions.append(
                {
                    "image_id": image_id,
                    "x_min": [best_prediction[0]],
                    "y_min": [best_prediction[1]],
                    "x_max": [best_prediction[2]],
                    "y_max": [best_prediction[3]],
                    "class_id": [best_prediction[4]],
                    "score": [best_prediction[5]],
                }
            )


# Convertir la liste des dictionnaires en DataFrame
reconstructed_df = pd.DataFrame(modified_predictions)

# Afficher les premiÃ¨res lignes du DataFrame pour vÃ©rifier
reconstructed_df.head() """

' \ntest_prediction_reformatted_grouped = (\n    test_prediction_reformatted.groupby("image_id")\n    .agg(\n        {\n            "x_min": list,\n            "y_min": list,\n            "x_max": list,\n            "y_max": list,\n            "class_id": list,\n            "score": list,\n        }\n    )\n    .reset_index()\n)\n\nmodified_predictions = []\n\nfor _, row in test_prediction_reformatted_grouped.iterrows():\n    image_id = row["image_id"]\n    x_mins, y_mins, x_maxs, y_maxs, class_ids, scores = (\n        row["x_min"],\n        row["y_min"],\n        row["x_max"],\n        row["y_max"],\n        row["class_id"],\n        row["score"],\n    )\n\n    best_predictions = {}\n    for x_min, y_min, x_max, y_max, class_id, score in zip(\n        x_mins, y_mins, x_maxs, y_maxs, class_ids, scores\n    ):\n        # Garder uniquement le meilleur score pour chaque class_id\n        if class_id not in best_predictions or score > best_predictions[class_id][5]:\n            best_predictions[class_id] = (x_min, y_min, x_max, y_max, class_id, score)\n\n        # Flatten the dictionary back to the list format expected\n        for class_id, best_prediction in best_predictions.items():\n            modified_predictions.append(\n                {\n                    "image_id": image_id,\n                    "x_min": [best_prediction[0]],\n                    "y_min": [best_prediction[1]],\n                    "x_max": [best_prediction[2]],\n                    "y_max": [best_prediction[3]],\n                    "class_id": [best_prediction[4]],\n                    "score": [best_prediction[5]],\n                }\n            )\n\n\n# Convertir la liste des dictionnaires en DataFrame\nreconstructed_df = pd.DataFrame(modified_predictions)\n\n# Afficher les premiÃ¨res lignes du DataFrame pour vÃ©rifier\nreconstructed_df.head() '

In [22]:
""" # Initialisation d'une liste pour stocker les lignes du DataFrame dÃ©composÃ©
expanded_rows = []

# ItÃ©ration sur chaque ligne du DataFrame agrÃ©gÃ©
for _, row in reconstructed_df.iterrows():
    # Nombre de prÃ©dictions pour l'image actuelle
    num_predictions = len(row['class_id'])
    
    # ItÃ©ration sur chaque prÃ©diction pour l'image actuelle
    for i in range(num_predictions):
        expanded_row = {
            'image_id': row['image_id'],
            'x_min': row['x_min'][i] if i < len(row['x_min']) else None,
            'y_min': row['y_min'][i] if i < len(row['y_min']) else None,
            'x_max': row['x_max'][i] if i < len(row['x_max']) else None,
            'y_max': row['y_max'][i] if i < len(row['y_max']) else None,
            'class_id': row['class_id'][i] if i < len(row['class_id']) else None,
            'score': row['score'][i] if i < len(row['score']) else None,
        }
        # Ajout de la ligne dÃ©composÃ©e Ã  la liste
        expanded_rows.append(expanded_row)

# Conversion de la liste de lignes dÃ©composÃ©es en un nouveau DataFrame
test_prediction_reformatted = pd.DataFrame(expanded_rows) """

" # Initialisation d'une liste pour stocker les lignes du DataFrame dÃ©composÃ©\nexpanded_rows = []\n\n# ItÃ©ration sur chaque ligne du DataFrame agrÃ©gÃ©\nfor _, row in reconstructed_df.iterrows():\n    # Nombre de prÃ©dictions pour l'image actuelle\n    num_predictions = len(row['class_id'])\n    \n    # ItÃ©ration sur chaque prÃ©diction pour l'image actuelle\n    for i in range(num_predictions):\n        expanded_row = {\n            'image_id': row['image_id'],\n            'x_min': row['x_min'][i] if i < len(row['x_min']) else None,\n            'y_min': row['y_min'][i] if i < len(row['y_min']) else None,\n            'x_max': row['x_max'][i] if i < len(row['x_max']) else None,\n            'y_max': row['y_max'][i] if i < len(row['y_max']) else None,\n            'class_id': row['class_id'][i] if i < len(row['class_id']) else None,\n            'score': row['score'][i] if i < len(row['score']) else None,\n        }\n        # Ajout de la ligne dÃ©composÃ©e Ã  la liste\n        expanded_rows.append(expanded_row)\n\n# Conversion de la liste de lignes dÃ©composÃ©es en un nouveau DataFrame\ntest_prediction_reformatted = pd.DataFrame(expanded_rows) "

In [23]:
classifier_post_pred

       target                          image_id
0           1  f7f7736401b22c94a9d2b09425adeab9
1           1  93ae57ca1df1d19c6d64155e74e14d23
2           0  f1a45afaee0efd07fef17057f3942464
3           0  559fdfb3b9db3eb206b9521824f716e3
4           1  371d6f540ac601affe81e547b05c551a
...       ...                               ...
14995       1  0c5ff01c7bfb4362fcd98f36e555b08c
14996       1  3286115baacb6ed3affc5c46c9205b7a
14997       1  d44766bf0eb902fbc1848f418417c45f
14998       1  cd7b83d24ee9c092a0f32cb020da6dac
14999       1  3b219f94795c80a122ac4948b4f1c2a6

[15000 rows x 2 columns]

In [24]:
# Ensure 'image_id' columns are of the same type in both DataFrames for reliable comparison
test_prediction_reformatted['image_id'] = test_prediction_reformatted['image_id'].astype(str)
classifier_post_pred['image_id'] = classifier_post_pred['image_id'].astype(str)

# Find 'image_id's in 'classifier_post_pred' where 'target' is 1
target_image_ids = classifier_post_pred[classifier_post_pred["target"] == 1]["image_id"].unique()

# Update 'test_prediction_reformatted' rows where 'image_id' matches those in 'target_image_ids'
condition = test_prediction_reformatted["image_id"].isin(target_image_ids)
test_prediction_reformatted.loc[condition, "class_id"] = 14
test_prediction_reformatted.loc[condition, "x_min"] = 0.0
test_prediction_reformatted.loc[condition, "y_min"] = 0.0
test_prediction_reformatted.loc[condition, "x_max"] = 1.0
test_prediction_reformatted.loc[condition, "y_max"] = 1.0

test_prediction_reformatted = test_prediction_reformatted.drop_duplicates()

In [25]:
test_prediction_reformatted

,image_id,class_id,score,x_min,y_min,x_max,y_max,image_height,image_width
0,27b822c5d3b354f096dfb788fd3fa636,14,0.9025,0.0,0.0,1.0,1.0,2968,2580
1,27b822c5d3b354f096dfb788fd3fa636,14,0.8972,0.0,0.0,1.0,1.0,2968,2580
2,27b822c5d3b354f096dfb788fd3fa636,14,0.8267,0.0,0.0,1.0,1.0,2968,2580
3,27b822c5d3b354f096dfb788fd3fa636,14,0.7635,0.0,0.0,1.0,1.0,2968,2580
4,27b822c5d3b354f096dfb788fd3fa636,14,0.7218,0.0,0.0,1.0,1.0,2968,2580
...,...,...,...,...,...,...,...,...,...
50784,eb6c714df22142229464c6b83e47d7d6,14,0.1332,0.0,0.0,1.0,1.0,3073,2532
50785,eb6c714df22142229464c6b83e47d7d6,14,0.1291,0.0,0.0,1.0,1.0,3073,2532
50786,eb6c714df22142229464c6b83e47d7d6,14,0.1236,0.0,0.0,1.0,1.0,3073,2532
50787,eb6c714df22142229464c6b83e47d7d6,14,0.1098,0.0,0.0,1.0,1.0,3073,2532
50788,fcb84a0cb71696938093ddb14dba07e3,14,1.0000,0.0,0.0,1.0,1.0,2500,2048

In [26]:
test_df

,image_id,class_name,rad_id,x_min,y_min,x_max,y_max,class_id
0,27b822c5d3b354f096dfb788fd3fa636,Nodule/Mass,R10,277.0,602.0,1177.0,2417.0,8
1,d2ca714f8f06979acfbc0992d65fb211,No finding,R3,0.0,0.0,1.0,1.0,14
2,19367e88f4634c2652d3eed0a2f1f8b2,No finding,R15,0.0,0.0,1.0,1.0,14
3,852ec6a0bcb9608ffee9b3fda0867f91,Aortic enlargement,R8,1669.0,896.0,1972.0,1326.0,0
4,aa9c3097e6d2df7216be1a1642f683c9,No finding,R5,0.0,0.0,1.0,1.0,14
...,...,...,...,...,...,...,...,...
10183,54e6184c63c75a9695d7effc17969ad0,Cardiomegaly,R8,731.0,1431.0,1697.0,1842.0,3
10184,7237fe007c5cab239011e89137eee3a7,Other lesion,R17,667.0,752.0,1282.0,1777.0,9
10185,3b2087f26637d64244ec11da41770aad,Aortic enlargement,R9,1604.0,705.0,1850.0,931.0,0
10186,eb6c714df22142229464c6b83e47d7d6,Lung Opacity,R10,494.0,1293.0,866.0,1632.0,7
10187,fcb84a0cb71696938093ddb14dba07e3,No finding,R10,0.0,0.0,1.0,1.0,14

In [27]:
# Number of unique image_ids in the test set
len(test_df["image_id"].unique())

7028

In [28]:
# Number of unique image_ids in the prediction set
len(test_prediction_reformatted["image_id"].unique())

7028

In [29]:
numberOfRecordsPerClass = test_prediction_reformatted.groupby("class_id").size().reset_index(name="counts")
numberOfRecordsPerClass

    class_id  counts
0          0     875
1          1      52
2          2     280
3          3     832
4          4     152
5          5     325
6          6     484
7          7    1420
8          8     736
9          9     882
10        10     851
11        11    3246
12        12     268
13        13    1596
14        14   38694

In [30]:
numberOfRecordsPerClass["counts"].sum()

50693

In [31]:
numberOfRecordsPerClassTarget = test_df.groupby("class_id").size().reset_index(name="counts")
numberOfRecordsPerClassTarget

    class_id  counts
0          0    1074
1          1      42
2          2     144
3          3     814
4          4      83
5          5     150
6          6     187
7          7     373
8          8     387
9          9     331
10        10     372
11        11     726
12        12      34
13        13     698
14        14    4773

In [32]:
numberOfRecordsPerClassTarget["counts"].sum()

10188

In [33]:
def calculate_iou(boxA, boxB):
    """Calcule l'Intersection over Union (IoU) entre deux boÃ®tes."""
    xA = max(boxA[0], boxB[0])
    yA = max(boxA[1], boxB[1])
    xB = min(boxA[2], boxB[2])
    yB = min(boxA[3], boxB[3])

    interArea = max(0, xB - xA) * max(0, yB - yA)
    boxAArea = (boxA[2] - boxA[0]) * (boxA[3] - boxA[1])
    boxBArea = (boxB[2] - boxB[0]) * (boxB[3] - boxB[1])
    iou = interArea / float(boxAArea + boxBArea - interArea)
    return iou

In [34]:
def evaluate_predictions(ground_truths, predictions, iou_threshold=0.4):
    TP = 0
    FP = 0
    FN = 0

    # Enregistre si une vÃ©ritÃ© terrain a Ã©tÃ© appariÃ©e Ã  une prÃ©diction
    matched_gt = {gt_index: False for gt_index, _ in enumerate(ground_truths)}

    for pred in predictions:
        best_iou = 0
        best_gt_index = None
        for gt_index, gt in enumerate(ground_truths):
            if (
                gt["image_id"] == pred["image_id"]
                and gt["class_id"] == pred["class_id"]
            ):
                iou = calculate_iou(
                    [pred["x_min"], pred["y_min"], pred["x_max"], pred["y_max"]],
                    [gt["x_min"], gt["y_min"], gt["x_max"], gt["y_max"]],
                )
                if iou > best_iou:
                    best_iou = iou
                    best_gt_index = gt_index

        if best_iou > iou_threshold:
            TP += 1
            if best_gt_index is not None:
                matched_gt[best_gt_index] = True
        else:
            FP += 1

    # Les vÃ©ritÃ©s terrain non appariÃ©es sont des faux nÃ©gatifs
    FN = sum(not matched for matched in matched_gt.values())

    precision = TP / (TP + FP) if (TP + FP) > 0 else 0
    recall = TP / (TP + FN) if (TP + FN) > 0 else 0
    f1_score = (
        2 * (precision * recall) / (precision + recall)
        if (precision + recall) > 0
        else 0
    )

    return {
        "TP": TP,
        "FP": FP,
        "FN": FN,
        "Precision": precision,
        "Recall": recall,
        "F1 Score": f1_score,
    }

In [35]:
def evaluate_predictions_per_class(ground_truths, predictions, iou_threshold=0.4, no_finding_class_id=14):
    class_metrics = {}

    # Initialiser les compteurs pour toutes les classes dans les vÃ©ritÃ©s terrain
    for gt in ground_truths:
        class_id = gt["class_id"]
        if class_id not in class_metrics:
            class_metrics[class_id] = {"TP": 0, "FP": 0, "FN": 0, "total_gt": 0, "TN": 0}
        class_metrics[class_id]["total_gt"] += 1

    # Traiter les prÃ©dictions
    for pred in predictions:
        class_id = pred["class_id"]
        if class_id not in class_metrics:
            class_metrics[class_id] = {"TP": 0, "FP": 0, "FN": 0, "total_gt": 0, "TN": 0}

        best_iou = 0
        matched_gt = None
        for gt in ground_truths:
            if gt["class_id"] == class_id and gt["image_id"] == pred["image_id"]:
                iou = calculate_iou(
                    [pred["x_min"], pred["y_min"], pred["x_max"], pred["y_max"]],
                    [gt["x_min"], gt["y_min"], gt["x_max"], gt["y_max"]]
                )
                if iou > best_iou:
                    best_iou = iou
                    matched_gt = gt

        if best_iou >= iou_threshold:
            class_metrics[class_id]["TP"] += 1
            # Marquer la vÃ©ritÃ© terrain comme appariÃ©e
            if matched_gt:
                ground_truths.remove(matched_gt)
        else:
            class_metrics[class_id]["FP"] += 1

    # Calculer l'accuracy pour chaque classe, incluant "No finding"
    for class_id, metrics in class_metrics.items():
        TP, FP, FN = metrics["TP"], metrics["FP"], metrics["FN"]
        metrics["Accuracy"] = TP / (TP + FP + FN) if (TP + FP + FN) > 0 else 0
        
    return class_metrics

In [36]:
def evaluate_no_finding(ground_truths, predictions, no_finding_class_id=14):
    # Initialiser les compteurs
    TP = 0  # Correctement prÃ©dit comme "No finding"
    FP = 0  # Incorrectement prÃ©dit comme "No finding" ou prÃ©dit quelque chose d'autre quand c'Ã©tait "No finding"
    FN = 0  # ManquÃ© de prÃ©dire "No finding"

    # Ensemble des IDs des images "No finding"
    no_finding_image_ids = {gt['image_id'] for gt in ground_truths if gt['class_id'] == no_finding_class_id}

    # Ensemble des IDs des images pour lesquelles des prÃ©dictions ont Ã©tÃ© faites
    predicted_image_ids = {pred['image_id'] for pred in predictions}

    # Compter TP et FP
    for pred in predictions:
        if pred['class_id'] == no_finding_class_id:
            if pred['image_id'] in no_finding_image_ids:
                TP += 1  # PrÃ©diction correcte de "No finding"
            else:
                FP += 1  # PrÃ©diction incorrecte comme "No finding"

    # Compter FN - "No finding" manquÃ©
    FN = len(no_finding_image_ids) - TP

    accuracy = (TP) / (TP + FP + FN) if (TP + FP + FN) > 0 else 0

    return {'TP': TP, 'FP': FP, 'FN': FN, 'Accuracy': accuracy}

In [37]:
ground_truths = test_df.to_dict('records')
predictions = test_prediction_reformatted.to_dict('records')

evaluate_no_finding(ground_truths, predictions)

{'TP': 4979, 'FP': 33715, 'FN': -912, 'Accuracy': 0.13178233021015298}

In [38]:
classifier_post_pred

       target                          image_id
0           1  f7f7736401b22c94a9d2b09425adeab9
1           1  93ae57ca1df1d19c6d64155e74e14d23
2           0  f1a45afaee0efd07fef17057f3942464
3           0  559fdfb3b9db3eb206b9521824f716e3
4           1  371d6f540ac601affe81e547b05c551a
...       ...                               ...
14995       1  0c5ff01c7bfb4362fcd98f36e555b08c
14996       1  3286115baacb6ed3affc5c46c9205b7a
14997       1  d44766bf0eb902fbc1848f418417c45f
14998       1  cd7b83d24ee9c092a0f32cb020da6dac
14999       1  3b219f94795c80a122ac4948b4f1c2a6

[15000 rows x 2 columns]

In [39]:
confidence_threshold = 0.1

# Step 1: Filter predictions with a confidence score above the threshold
filtered_predictions = test_prediction_reformatted[
    test_prediction_reformatted["score"] > confidence_threshold
]

# Step 2: Identify image_ids without any predictions after filtering
image_ids_with_predictions = set(filtered_predictions["image_id"])
all_image_ids = set(test_df["image_id"])
image_ids_without_predictions = all_image_ids - image_ids_with_predictions

# Step 3: Add default predictions for images without any predictions
default_predictions = [
    {
        "image_id": image_id,
        "class_id": 14,
        "x_min": 0,
        "y_min": 0,
        "x_max": 1,
        "y_max": 1,
        "score": 1,
    }
    for image_id in image_ids_without_predictions
]

# Convert default predictions to a DataFrame and append to the filtered predictions
default_predictions_df = pd.DataFrame(default_predictions)
updated_predictions_df = pd.concat(
    [filtered_predictions, default_predictions_df], ignore_index=True
)

# Step 4: Convert back to records if needed
predictions = updated_predictions_df.to_dict("records")

In [40]:
from collections import defaultdict
import torch

# Initialize dictionaries to hold aggregated data
aggregated_preds = defaultdict(lambda: {'boxes': [], 'scores': [], 'labels': []})
aggregated_gts = defaultdict(lambda: {'boxes': [], 'labels': []})

# Aggregate predictions by image
for pred in predictions:
    aggregated_preds[pred['image_id']]['boxes'].append([pred['x_min'], pred['y_min'], pred['x_max'], pred['y_max']])
    aggregated_preds[pred['image_id']]['scores'].append(pred['score'])
    aggregated_preds[pred['image_id']]['labels'].append(pred['class_id'])

# Aggregate ground truths by image
for gt in ground_truths:
    aggregated_gts[gt['image_id']]['boxes'].append([gt['x_min'], gt['y_min'], gt['x_max'], gt['y_max']])
    aggregated_gts[gt['image_id']]['labels'].append(gt['class_id'])

# Convert aggregated data into the required format
preds_formatted = [{
    'boxes': torch.tensor(aggregated_preds[image_id]['boxes']),
    'scores': torch.tensor(aggregated_preds[image_id]['scores']),
    'labels': torch.tensor(aggregated_preds[image_id]['labels'])
} for image_id in aggregated_preds]

gt_formatted = [{
    'boxes': torch.tensor(aggregated_gts[image_id]['boxes']),
    'labels': torch.tensor(aggregated_gts[image_id]['labels'])
} for image_id in aggregated_gts if image_id in aggregated_preds]  # Ensure matching image_ids

# Verify the lengths match
assert len(preds_formatted) == len(gt_formatted), "Mismatch in the number of images between preds and gt."

In [41]:
from torchmetrics.detection.mean_ap import MeanAveragePrecision

# Create a MeanAveragePrecision object
mAP_metric = MeanAveragePrecision(box_format='xyxy', iou_type='bbox', class_metrics=True, iou_thresholds=[0.4])

# Update the metric with the data
mAP_metric.update(preds=preds_formatted, target=gt_formatted)

# Compute the final mAP
mAP = mAP_metric.compute()

mAP

{'map': tensor(0.0914),
 'map_50': tensor(-1.),
 'map_75': tensor(-1.),
 'map_small': tensor(0.1448),
 'map_medium': tensor(0.0309),
 'map_large': tensor(0.0576),
 'mar_1': tensor(0.1528),
 'mar_10': tensor(0.1980),
 'mar_100': tensor(0.1994),
 'mar_small': tensor(0.1849),
 'mar_medium': tensor(0.0601),
 'mar_large': tensor(0.1623),
 'map_per_class': tensor([0.1162, 0.0344, 0.0317, 0.1275, 0.0337, 0.0128, 0.0231, 0.0153, 0.0441,
         0.0264, 0.0661, 0.0294, 0.1856, 0.0287, 0.5954]),
 'mar_100_per_class': tensor([0.2291, 0.0952, 0.1319, 0.2371, 0.1084, 0.0800, 0.1551, 0.1448, 0.1550,
         0.1088, 0.1935, 0.1832, 0.2353, 0.1347, 0.7993]),
 'classes': tensor([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14],
        dtype=torch.int32)}

In [42]:
for class_id in test_df["class_id"].unique():
    ground_truths_class = [gt for gt in ground_truths if gt["class_id"] == class_id]
    predictions_class = [pred for pred in predictions if pred["class_id"] == class_id]
    df_eval_class = evaluate_predictions(ground_truths_class, predictions_class, iou_threshold=0.3)
    print(f"Class {class_id}")
    print(df_eval_class)

Class 8
{'TP': 77, 'FP': 659, 'FN': 327, 'Precision': 0.10461956521739131, 'Recall': 0.1905940594059406, 'F1 Score': 0.13508771929824565}
Class 14
{'TP': 4976, 'FP': 33706, 'FN': 1058, 'Precision': 0.12863864329662375, 'Recall': 0.8246602585349685, 'F1 Score': 0.22256015743805346}
Class 0
{'TP': 300, 'FP': 575, 'FN': 827, 'Precision': 0.34285714285714286, 'Recall': 0.26619343389529726, 'F1 Score': 0.2997002997002997}
Class 3
{'TP': 204, 'FP': 628, 'FN': 621, 'Precision': 0.24519230769230768, 'Recall': 0.24727272727272728, 'F1 Score': 0.24622812311406156}
Class 6
{'TP': 52, 'FP': 432, 'FN': 155, 'Precision': 0.10743801652892562, 'Recall': 0.25120772946859904, 'F1 Score': 0.15050651230101303}
Class 11
{'TP': 285, 'FP': 2960, 'FN': 587, 'Precision': 0.08782742681047766, 'Recall': 0.3268348623853211, 'F1 Score': 0.13845032790867134}
Class 4
{'TP': 18, 'FP': 133, 'FN': 73, 'Precision': 0.11920529801324503, 'Recall': 0.1978021978021978, 'F1 Score': 0.1487603305785124}
Class 13
{'TP': 208, 'FP': 1388, 'FN': 603, 'Precision': 0.13032581453634084, 'Recall': 0.2564734895191122, 'F1 Score': 0.1728292480265891}
Class 10
{'TP': 134, 'FP': 717, 'FN': 295, 'Precision': 0.15746180963572268, 'Recall': 0.3123543123543124, 'F1 Score': 0.209375}
Class 9
{'TP': 73, 'FP': 809, 'FN': 289, 'Precision': 0.08276643990929705, 'Recall': 0.20165745856353592, 'F1 Score': 0.11736334405144694}
Class 2
{'TP': 26, 'FP': 254, 'FN': 123, 'Precision': 0.09285714285714286, 'Recall': 0.174496644295302, 'F1 Score': 0.12121212121212122}
Class 1
{'TP': 5, 'FP': 47, 'FN': 38, 'Precision': 0.09615384615384616, 'Recall': 0.11627906976744186, 'F1 Score': 0.10526315789473685}
Class 12
{'TP': 21, 'FP': 247, 'FN': 26, 'Precision': 0.07835820895522388, 'Recall': 0.44680851063829785, 'F1 Score': 0.13333333333333336}
Class 7
{'TP': 105, 'FP': 1314, 'FN': 318, 'Precision': 0.07399577167019028, 'Recall': 0.24822695035460993, 'F1 Score': 0.11400651465798047}
Class 5
{'TP': 23, 'FP': 302, 'FN': 134, 'Precision': 0.07076923076923076, 'Recall': 0.1464968152866242, 'F1 Score': 0.09543568464730288}